body{
    background-color: gainsboro;
}
.navbar{
    display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:grey;
            padding: 0.5rem 1rem;
}

.navbar .logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.headerr h1{
    background-color: #4CAF50;
    color: white;
    padding: 0,5px 1px;
    text-align: center;

}
.form-group label {
    display: block;
    margin-bottom: 0.5px;
    font-weight: bold;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.headerr {
    max-width: 600px;
            margin: 1rem auto;
            padding: 2rem;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

